@using N4Core.Enums
@using N4Core.Extensions
@using N4Core.Utilities
@using N4Core.Managers.Bases

@inject CookieManagerBase cookieManager

@{
    var language = cookieManager.GetCookie(nameof(Language));
    var languageSelectList = new Language().ToSelectList(language);
}

<form asp-area="" asp-action="Index" asp-controller="Language" asp-route-returnUrl="@MvcRouteUtil.GetCurrentRoute(ViewContext)">
    <select name="language" class="form-select" onchange="this.form.submit();" asp-items="languageSelectList"></select>
</form>