@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@inject AppSettingsBase appSettingsBase
@{
    var appSettings = appSettingsBase as AppSettings;
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item p-2">
            <span class="text-info">@User.Identity?.Name</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.GetCurrentRoute(ViewContext)">Logout</a>
        </li>
    }
    else
    {
        @if (appSettings.ShowRegister)
        {
            <li class="nav-item">
                <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.GetCurrentRoute(ViewContext)">Register</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.GetCurrentRoute(ViewContext)">Login</a>
        </li>
    }
</ul>
